<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.groundcontrol.janitor</string>
  <key>ProgramArguments</key>
  <array>
    <string>__NODE_BIN__</string>
    <string>__GC_DIR__/dist/index.js</string>
    <string>janitor</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__GC_DIR__</string>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Weekday</key>
    <integer>0</integer>
    <key>Hour</key>
    <integer>4</integer>
    <key>Minute</key>
    <integer>30</integer>
  </dict>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
  </dict>
  <key>StandardOutPath</key>
  <string>__HOME__/Library/Logs/groundcontrol/janitor.log</string>
  <key>StandardErrorPath</key>
  <string>__HOME__/Library/Logs/groundcontrol/janitor.log</string>
</dict>
</plist>
